.home{
    display: flex;
    width: 100%;
}
.home-content{
    flex: 4;
}
.homeWidgets{
    display: flex;
    margin: 20px;
}

/* .sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
    padding-top: 60px;
} */