.product{
    display: flex;
    margin-top: 25px;
    width: 100%;
}
.product-content{
    flex: 4;
}

.product-content-header{
    display: flex;
    justify-content: space-between;
}

.key{
    font-size: 12;
    font-weight: bold;
}

.value{
    font-size: 14;
}

.productImgContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.productImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}