.header-bar{
    width: 100%;
    min-height: 56px;
    max-height: 56px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgb(74 74 78 / 12%);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    height: 50px;
    width: 50px;
}
.header-text{
    font-size: 1rem;
}
.header-account{
    margin-right: 20px;
}
.header-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-action{
    font-size: 1rem;
}
.header-notification{
    margin-right: 5px;
}