.sidebar{
    flex: 0 0 280px;
    max-width: 280px;
    min-width: 280px;
    width: 280px;
    box-shadow: 4px 0 4px -4px rgb(74 74 78 / 16%);
}
.sidebar-layout{
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100%;
    height: 100%;
    transition: all 0.2s;
    padding-top: 40px;
    overflow: scroll;

}
.sidebar-menu{
    padding: 16px 16px 0px;
    cursor: pointer;
    
}
.sidebar-menu li{
    padding: 10px 0;
}

/* .sidebar-menu span{
    font-size: 1rem;
} */
.sidebar-menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu-item-text{
    margin-left: 7px;
    color: #999;
    font-size: 1.1rem;

}


/* .sidebar-menu-item-space{
    flex: 1 0 8px;
} */