.sidebar{
    flex: 0 0 245px;
    max-width: 245px;
    min-width: 245px;
    width: 245px;
}
.sidebar-layout{
    position: fixed;
    min-width: 0;
    transition: all 0.2s;
    z-index: 0;

}
.sidebar-menu{
    padding: 16px 16px 0px;
    
}
.sidebar-menu li{
    padding: 10px 0;
}

.sidebar-menu span{
    font-size: 1rem;
}
.sidebar-menu-item-text{
    margin-left: 10px;
}